<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="background-color:darkslategrey;">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Log In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
           <div class="modal-body d-flex flex-column align-items-center">
        <%= form_with model: @Suser, url: sessions_path, remote: true do |form| %>
          <% if flash[:error].present? %>
            <div class="alert alert-danger">
              <%= flash[:error] %>
            </div>
          <% end %>

          <% if flash[:success].present? %>
            <div class="alert alert-success">
              <%= flash[:success] %>
            </div>
          <% end %>

          <div class="form-group">
            <%= form.label :phone_number %><br />
            <%= form.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
          </div>

          <div class="form-group">
            <%= form.label :password %><br />
            <%= form.password_field :password, autocomplete: "current-password" %>
          </div>

          <div class="actions">
            <%= form.submit "Log in", class:"touch-button"%>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
