div class="card" style="width: 100%;">
        <div class="card-header">
            <p class="card-title">Your Bets</p>
        </div>
        <div class="card-body">
            <div id="table-container">
                <table>
                    <thead>
                        <tr>
                          <th>Bet ID</th>
                          <th>Date</th>
                          <th>Stake</th>
                          <th>Predicted</th>
                          <th>burst</th>
                          <th>Results</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        <!-- Table rows added dynamically here -->
                        <% @bets.each do |bet| %>
                          <tr>
                            <td><%= bet.betid %></td>
                            <td><%= bet.created_at%></td>
                            <td><%= bet.stake_amount %></td>
                            <td><%= bet.predicted_y_value %></td>
                            <td><%= bet.burst_value %></td>
                            <td><%= bet.outcome%></td>
                          </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

