<%= flash[:success] %>
<%= flash[:error] %>
<body>
  <div id="container">
    <%= render 'tables/chart'%>
    <%= render 'home/betform'%>
    <%= render 'home/chatform'%>
    <%= render 'tables/burst_table'%>
    <%= render 'tables/your_bets'%>
  </div>

  <script>

      document.addEventListener("DOMContentLoaded", () => {
      const canvas = document.getElementById('chart-container');
      const context = canvas.getContext('2d');
      var  randompick = [280000, 8, 28000, 15000]
      // const animationDuration = 15000; // Animation duration in milliseconds
      let animationDuration = randompick[Math.floor(Math.random() * randompick.length)];

      let animationStartTime;
      let burst_value;
      

      const placeBetButton = document.getElementById('placeBetButton');
       if (placeBetButton) {
      placeBetButton.addEventListener('click', function () {
      // Retrieve the betid from the DOM element
      const betidElement =document.getElementById('betid')
      const betid = betidElement.textContent('betid');
      

      let animationIsRunning = true; // Initially, the animation is running
      // let randomStopTime = Math.random() * 15000; // Random stopping point (approximately 30 seconds);
      let randomStopTime = Math.random() * animationDuration; // Random stopping point (approximately 30 seconds);

      let clearAnimationTimeout;
      
      const maxLastValues = 8; // Maximum number of last values to display
      const lastYValues = [];
      const hashvalueToValueMap = {};
      
      const chart = new Chart(context, {
        type: 'line',
        data: {
          labels: [],
          datasets: [{
            label: 'Animation Progress',
            data: [],
            borderColor: 'orange',
            borderWidth: 2,
            legend: {
              display: false,
            }
          }],
        },
        options: {
          scales: {
            x: {
              type: 'linear',
              position: 'bottom',
              title: {
                display: true,
                text: 'Time',
              },
            },
            y: {
              type: 'linear',
              position: 'left',
              title: {
                display: true,
                text: 'Value',
              },
              beginAtZero: false, // Do not start y-axis from zero
            },
          },
        },
      });

      const valueDisplay = document.getElementById('value-display');
      const timerDisplay = document.getElementById('timer-display');
      const buttonContainer = document.getElementById('button-container');
      const tableBody = document.getElementById('table-body'); // Table body element

      function generateHashvalue() {
        const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        let hashvalue = '';
        const hashvalueLength = 32; // 128 bits / 4 bits per character = 32 characters
        for (let i = 0; i < hashvalueLength; i++) {
          hashvalue += characters.charAt(Math.floor(Math.random() * characters.length));
        }
        return hashvalue;
      }

      function drawGraph() {
        const currentTime = Date.now();
        if (!animationStartTime) {
          animationStartTime = currentTime;
        }
        const elapsedTime = currentTime - animationStartTime;

        const progress = Math.min(1, elapsedTime / animationDuration);
        const value = 1 + progress * (elapsedTime / 1000);

        chart.data.labels.push((elapsedTime / 1000).toFixed(2));
        chart.data.datasets[0].data.push(value);
        chart.update();

        valueDisplay.textContent = `Stake* ${value.toFixed(2)}`;

        if (elapsedTime >= randomStopTime || (progress >= 1 && animationIsRunning)) {
          stopAnimation(value);
        } else if (animationIsRunning) {
          requestAnimationFrame(drawGraph);
        }
      }

      function stopAnimation(value) {
        animationIsRunning = false;
        burst_value = value;
        hashvalue = generateHashvalue();
        // Update the burst_value in the DOM
             lastYValues.push({ hashvalue, value });
        if (lastYValues.length > maxLastValues) {
          const removedValue = lastYValues.shift();
          delete hashvalueToValueMap[removedValue.hashvalue];
        }
        valueDisplay.textContent = `BURST! ${value.toFixed(2)}`;

        hashvalueToValueMap[hashvalue] = value;
        displayLastValues();
        updateTable();
         // Disable the "Place Bet" button
        const placeBetButton = document.getElementById('placeBetButton');
        if (placeBetButton) {
          placeBetButton.disabled = false;
        }
        let countdown = 5;
        timerDisplay.textContent = countdown;
        const countdownInterval = setInterval(() => {
          countdown--;
          timerDisplay.textContent = countdown;
          if (countdown === 0) {
            clearInterval(countdownInterval);
            randomStopTime = Math.random() * 15000;
            startAnimation();
            timerDisplay.textContent = '';
          }
        }, 1000);

        clearAnimationTimeout = setTimeout(() => {
          clearAnimation();
        }, 3000);
        const burstValueElement = document.getElementById('burst-value');
        burstValueElement.textContent = burst_value;
         
       $.ajax({
                type: 'POST',
                url: 'http://localhost:3000/bets/save_burst_data', // Update the URL as needed durin
                data: {
                    'burst_data[burst_value]': burst_value,
                    'burst_data[hashvalue]': hashvalue,
                    'burst_data[betid]': betid,
                    
                    
                },
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name=csrf-token]').attr('content'));
                },
                success: function(response) {
                    // Handle the success response from the server, if needed
                },
                error: function(error) {
                    // Handle any errors, if needed
                }
            });

        
      }

      function clearAnimation() {
        context.clearRect(0, 0, canvas.width, canvas.height);
        chart.data.labels = [];
        chart.data.datasets[0].data = [];
        chart.update();
      }

      function displayLastValues() {
        buttonContainer.innerHTML = '';
        for (const [hashvalue, value] of Object.entries(hashvalueToValueMap)) {
          const button = document.createElement('button');
          button.className = 'last-value-button';
          button.textContent = `${value.toFixed(2)}`;
          button.addEventListener('click', () => {
            hashvalueValueDisplay.textContent = hashvalue;
            hashvalueDisplay.style.display = 'block';
          });
          buttonContainer.appendChild(button);
        }
      }

      function updateTable() {
        tableBody.innerHTML = '';
        for (const [hashvalue, value] of Object.entries(hashvalueToValueMap)) {
          const row = document.createElement('tr');
          const yValueCell = document.createElement('td');
          yValueCell.textContent = value.toFixed(2);
          const hashvalueCell = document.createElement('td');
          hashvalueCell.textContent = hashvalue;
          row.appendChild(yValueCell);
          row.appendChild(hashvalueCell);
          tableBody.appendChild(row);
        }
      }

      function startAnimation() {
        animationStartTime = null;
        animationIsRunning = true;
         // Enable the "Place Bet" button
      const placeBetButton = document.getElementById('placeBetButton');
      if (placeBetButton) {
        placeBetButton.disabled = true;
      }
      // var betid = document.getElementById('betid').value;
        drawGraph();
        
      }
      startAnimation();
     
    });
    
  </script>
  <!-- Include Bootstrap JS (optional) -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <div class="container-fluid">
      <div id="container">
        <footer>
          <p> 
          <a href="#">PesaFast BCLB no 88888 Copyright © 2023 All Rights Reserved</a></p>
        </footer>
      </div>
    </div>
    
</body>
