<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#"><strong>ZanBet</strong><br>Play Win Play</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto"> <!-- Use ml-auto to push items to the right -->

        <% if user_signed_in? %>
        <li><button id="logout-button">Logout</button>
        </li>

        <li class="nav-item">
          <%= current_user.username %>
        </li>
        <li class="nav-item">
          Balance: <%= current_user.balance %>
        </li>
        <li class="nav-item">
          Bets: <%= User.count_users_with_bets %>
        </li>
        <li class="nav-item">
          Active Users: <%= User.logged_in_count %>
        </li>
        <% end %>

        <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Withdraw', withdraws_new_path, class: 'dropdown-item' %></li>
            <li><hr class="dropdown-divider"></li>
            
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

 
<script>
 $(document).ready(function() {
    $('#logout-button').on('click', function() {
      $.ajax({
        type: 'DELETE', // Use the appropriate HTTP method (typically DELETE for logout)
        url: '<%= logout_path %>',// Replace with the URL of your logout action
          headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      },
        success: function(data) {
          // Handle the success response, e.g., redirect or show a message
          window.location.href = '/'; // Redirect to the home page
        },
        error: function(error) {
          // Handle errors, e.g., show an error message
          console.error('Logout failed:', error);
        }
      });
    });
  });
</script>
<script type="text/javascript">
  // Add a click event listener to the "Messages" link
  $('#messages-link').on('click', function (e) {
    e.preventDefault(); // Prevent the default link behavior

    // Make an AJAX request to fetch the "messages" view
    $.ajax({
      url: '/messages', // The URL to your controller action that renders the messages partial
      type: 'GET',
      success: function (data) {
        // Replace the content of the container element with the fetched data (the messages view)
        $('#chat-container').html(data);
      },
      error: function (error) {
        // Handle errors if needed
        console.error('Error:', error);
      }
    });
  });
</script>
