<div class="modal fade" id="depositModal" tabindex="-1" role="dialog" aria-labelledby="depositModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="background-color: dark;">
      <div class="modal-header">
        <h5 class="modal-title" id="depositModalLabel">deposit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center"> <!-- Added text-center class for centering -->
      <% if user_signed_in? %>
        <%= form_with model: @user, url: deposits_path do |form| %>
          <% if form.object.errors.any? %>
            <% form.object.errors.full_messages.each do |message| %>
              <div><%= message %></div>
            <% end %>
          <% end %>

          <div>
            <%= hidden_field_tag :phone_number,current_user.phone_number %>
              <br>
            <%= form.label :amount %><br>
            <%= form.text_field :amount %>
          </div>
          <br>
          <div>
            <%= form.submit "deposit" %>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
